* {
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}

html,
body,
div,
span,
a,
ul,
ul li,
ol,
ol li,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
i,
em,
label,
p {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-weight: normal;
}
body{
    background: #eee;
}
html,
body,
.view {
    display: block;
    width: 100%;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul li,
ol li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

i,
em {
    font-style: normal;
    font-weight: normal;
}