<meta charset="UTF-8">

<body ng-controller="registerCity">
    <!-- 头部 -->
    <div class="head">
        <img class="regis" src="images/kaihulogo.png" alt="">
    </div>
    <!-- 内容 -->
    <div class="regi_cont">
        <div class="ster">
            <img src="images/1002.png" alt=""><input type="text" placeholder="请输入邀请码(非必填)" ng-model="invitecode" ng-disabled="inputfous">
        </div>
        <div class="ster">
            <img src="images/1032.png" alt=""><input class="tel" type="text" placeholder="请输入手机号" ng-model="tel" onkeyup="if (value.match(/^\d{11}$/)) value = '/value.replace(value,parseInt(value/10))';value = '/value.replace(/\.\d*\./g, '.')'" onkeypress="if ((event.keyCode < 48 || event.keyCode > 57) && event.keyCode != 46 && event.keyCode != 45 || value.match(/^\d{11}$/) || /\.\d{0}$/.test(value)) { event.returnValue = false }">
        </div>
        <div class="ster ">
            <img src="images/验证码.png " alt=" "><input type="text " placeholder="请输入手机验证码" ng-model="check">
            <button class="btn " type="button" ng-click="vm.sendMessage() " ng-bind="paracont " ng-disabled="vm.disabledClick"></button>
        </div>
        <btuuon class="kaihu" ng-click="account()">立即开户</btuuon>
        <p><input type="checkbox" checked> 本人已阅读并同意本平台的<i ng-click="Notion()">《风险告知书》</i><i style="color:rgba(43, 44, 46, 0.74)">和</i><i ng-click="fica1(!notion1)">《开户合作协议》</i></p>
        <div class="zhuyi ">
            <span>需要准备</span>
            <ul>
                <li>
                    <img src="images/938.png " alt=" ">
                    <p>二代身份证</p>
                </li>
                <li>
                    <img src="images/939.png " alt=" ">
                    <p>银行卡</p>
                </li>
                <li>
                    <img src="images/940.png " alt=" ">
                    <p>WiFi或移动网络</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="tishi"></div>
    <div class="notion" ng-show="notion">
        <div class="fication">
            <div class="feng">
                <h2>风险告知书</h2>
                <div class="feng_cont">
                    <h4>尊敬的用户!</h4>
                    <h6>为保障您的合法权益,请您务必逐字逐句地认真阅读了解本《风险告知书》的所有内容,您需要签署本《风险告知书》</h6>
                    <p>1、进行期货保证金交易是一种隐含高度风险的投资行为.交易的高杠杆作用可能对您有利,也可能对您不利.在决定进行保证金交易之前,您应该谨慎考虑您的投资目标、经验水平和风险偏好.不适合于利用养老基金、举借债务、银行贷款等方式取得资金进行投资的投资者.</p>
                    <p>2、您的投资可能会大幅亏损,甚至有可能超过您最初的投资,所以您最好不要投资您赔不起的钱.您应该明白与保证金交易相关的风险,为了获得优于真实资金交易的交易基础和基本条款方面的经验,我们鼓励您使用我们免费的金币模拟交易账户.</p>
                    <p>3、由于行情剧烈波动导致您的交易订单触及(只要价格接触到自动触发)止损金额,系统将自动平仓,导致你的订单亏损,您将承担由此导致的一切损失.</p>
                    <p>4、交易时段持仓时间到期时,你的订单无论盈亏系统将自动清仓,可能导致你的订单亏损,您将承担由此导致的一切损失.</p>
                    <p>5、网络交易有不确定性,存在下单延时、网络通信等问题;包括但不限于软硬件故障和网络断线.平台对此类损失或故障概不负责.</p>
                    <p>6、此外,对于任何基于推荐、预测或其他提供的信息而进行的投资所产生的损失,平台概不负责.平台所载的任何观点、新闻、研究、分析、价格或其他信息,只作为一般的市场评论,并不构成投资建议.平台将不承担任何损失或损害的责任,包括但不限于任何利润损失.这些利润损失可能是直接或间接地使用这些信息,或信赖这些信息而造成的.</p>
                    <p>7、按照分析的建议而进行的交易,特别是杠杆投资,是投机行为的,可能会带来利润,也可能会带来损失,特别是在当分析中提到的条件没有如预期般发生的情况下.</p>
                    <p>8、如果下单和平仓过程出现行情终端,或者交易系统被攻击等,平台将依据官方:《保证金监控中心》(https://investorservice.cfmmc.com)的真实发生的交易行为和记录对投资人的交易账户进行结算</p>
                    <p>9、如果您不明白期货交易中隐含的风险,请不要进行交易. </p>
                    <span>重要提示:</span>
                    <p>期货交易业务只适合于以下投资者:</p>
                    <p>(1)年满18周岁并具有完全民事行为能力的中国公民;</p>
                    <p>(2)具有二年以上股票及权证、期货交易经验的;</p>
                    <p>(3)能够充分理解有关于此交易的一切风险,并且具有风险承受能力的投资者;</p>
                    <p>(4) 因投资失误而造成帐户资金部分或者全部损失、仍不会改变其正常生活方式的投资者.</p>
                    <p>请确认,以上风险告知已详细阅读,并知晓期货交易过程中的所有风险！！</p>
                </div>
                <div class="fica">
                    <button ng-click="close()">不同意</button>
                    <button ng-click="fica(!notion)">已阅读,并同意</button>
                </div>
            </div>
        </div>
    </div>
    <div class="notion" ng-show="notion1">
        <div class="fication">
            <div class="feng">
                <h2>开户合作协议</h2>
                <div class="feng_cont">
                    <h4>尊敬的用户!</h4>
                    <h6>鉴于开户人自愿申请利用期投大师期货交易系统进行期货交易，双方根据国家有关法律、法规、规章就期货交易的有关事项达成如下协议：</h6>
                    <p>第一条 期货交易的业务内容</p>
                    <p> 1、期货交易指开户人通过期投大师网站或期投大师授权的网站或网上平台从事账户管理或期货交易的行为。</p>
                    <p> 2、期货交易的业务包括实盘户开户、模拟开户、修改账户资料、修改交易密码、出入金申请等。</p>
                    <p>第二条 期货交易风险提示</p>
                    <p> 1、开户人自愿申请使用期投大师期货交易系统，并被认为已经完全了解期货交易的风险，并能够承担由此可能带来的损失。</p>
                    <p>2、期投大师已经最大限度地采取了合理措施保护开户人资料和交易活动的安全。尽管如此，本着对客户负责的态度，期投大师在此郑重提示开户人，期货交易除具有其他交易方式所有的风险外，还应充分了解和认识到其具有以下风险:</p>
                    <p>
                        ① 互联网是开放性的公众网络，互联网数据传输可能因为通信繁忙或其他原因出现中断、停顿、延迟、数据不完整、数据丢失或数据错误等情况，从而导致交易延迟、中断、停顿或错误等；<br>
                        ② 数据在互联网上传输的途径不是完全确定的，可能会受到非法干扰、黑客恶意攻击或其他未经许可的侵入、获得及篡改，从而导致交易延迟、中断、停顿或错误等；<br>
                        ③ 互联网服务器可能会出现故障及其他不可预测的因素，从而导致交易数据延迟、中断、停顿或错误等；<br>
                        ④ 开户人的电脑设备及软件系统存在性能缺陷、计算机病毒或其他原因，或与期投大师所提供的期货交易系统不相匹配，从而对开户人的交易时间或交易数据产生影响，导致交易失败或错误；<br>
                        ⑤ 开户人账号及密码泄露、失窃或开户人的期货交易身份可能被仿冒；如开户人缺乏必要的期货交易经验或互联网知识，因操作不当造成交易失败或交易失误。</p>
                    <p>第三条 开户人承诺</p>
                    <p>1、开户人已经了解并完全理解使用期货交易可能遭受的风险，并自愿承担该种风险及其可能导致的损失，并且表明对上述损失不向期投大师追索。</p>
                    <p>2、开户人在签订本协议之前，已经详细阅读了本协议中包括期投大师免责条款在内的所有条款，并已准确理解其含义。</p>
                    <p>3、开户人保证用于投资期投大师所管理基金的资金来源合法，否则由此引起的一切责任由开户人承担。</p>
                    <p>4、开户人保证所输入的信息真实、准确和有效并对此承担责任，如有变化，开户人应及时变更相关资料。因开户人未能及时变更有关资料所可能导致的损失由开户人承担。</p>
                    <p>5、开户人确保其用于期货交易的设备的安全性和可靠性。对于因开户人的设备故障、通讯故障等原因造成的经济损失，期投大师不承担任何责任。</p>
                    <p>6、开户人应自行承担其账户信息和密码的保密义务。开户人应采取合理措施保护其账户信息和密码，按照机密的原则设置和保管密码，避免使用姓名、生日、电话号码等与本人明显相关的信息作为密码，
                        不应将密码记载在任何他人可以看到的载体上，不应将账户信息和密码告知任何第三方，并应定期更换密码。
                        开户人确认，凡是使用开户人密码所进行的一切交易申请，均被视为开户人亲自办理的有效交易申请。开户人由于自己疏忽或其他原因而致使密码失密造成的损失由开户人自己承担，
                        期投大师对此不承担任何责任。期投大师对任何交易申请仅作表面真实性审查。 一切使用开户人交易密码进行的交易行为均视为开户人本人所为，由此造成的后果由开户人自行承担。</p>
                    <p>7、开户人不得将本协议项下的权利或义务的部分或全部转让给任何第三方。</p>
                    <p>第四条 特别提示</p>
                    <p>1、开户人通过期投大师期货交易系统进行期货交易业务前必须与期投大师签订本协。</p>
                    <p>2、交易提示：
                        期投大师可能为确认期货交易申请的真实性与开户人电话联系。开户人应预留真实有效的电话号码，如无法通过电话确认期货交易申请的真实性，期投大师有权不受理该笔交易。
                        期投大师可能对双方电话通话内容进行录音，录音内容作为日后核查的依据，并且开户人特此同意期投大师对电话语音的录制，认可该电话记录是双方交易真实有效的证据，在任何司法程序中不对该电话记录提出任何形式的质疑。</p>
                    <p>3、开户人办理期货交易开通时，期投大师为开户人自动开通柜台交易方式，，当网络中断、高峰拥挤或期货交易被冻结时，开户人可采用上述交易手段进行交易，但应按期投大师有关业务规定办理。</p>
                    <p>4、开户人通过期货交易的数额限制以期投大师及相关机构的业务规则规定为准。</p>
                    <p>第五条 免责条款</p>
                    <p>因下列情形导致开户人损失的，期投大师不承担责任：</p>
                    <p>1、因战争、地震、火灾、台风、罢工及其他各种不可抗力引起停电、网络系统故障、电脑故障而导致的开户人的损失。</p>
                    <p>2、因电信部门的通讯线路故障、通讯技术缺陷、电脑黑客或计算机病毒等问题造成交易系统不能正常运转而导致的开户人的损失。</p>
                    <p>3、法律、政策重大变化，或期投大师不可预测、不可控制的因素导致的突发事件导致的开户人的损失。</p>
                    <p>4、因通讯、网络中断、堵塞等情况致使无法及时通过约定的交易手段下达交易申请或完成交易而导致的开户人的损失。</p>
                    <p>5、因开户人设备或通讯故障或设备未能处于正常工作状态致使期投大师未能及时收到开户人申请信息，或者期投大师收到的开户人申请或交易信息不完整而导致的开户人的损失。</p>
                    <p>6、因开户人对设备的错误操作和对有关信息的错误理解导致的开户人的损失。</p>
                    <p>7、本协议第二条提示的其他风险所导致的开户人的损失。</p>
                    <p>8、法律规定和本协议约定的其他期投大师免责事项。</p>
                    <p>第六条 授权条款</p>
                    <p>非常感谢您选择了期投大师，我们始终致力于为客户提供优质安全的期货交易服务。在为您提供服务、推荐产品、开展市场调查与信息数据分析过程中，
                        期投大师及其合作伙伴将使用到您的信息，包括但不限于：您提供的信息、享受服务产生的信息，以及根据本条约定查询、收集的信息。</p>
                    <p>在此过程中，期投大师承诺严格遵行相关法律和法规，并采取相应安全措施以保护您的信息不被泄露。</p>
                    <p>如您购买或使用了期投大师的产品或服务，即视为您同意授权期投大师按照以上内容及方式使用相关信息。本条款自本签署时生效，具有独立法律效力，不受期货交易协议成立与否及效力状态变化影响。</p>
                    <p>第七条 协议的生效及变更</p>
                    <p>1、本协议在甲、乙双方签署后立即生效，开户人在网上开户申请或办理业务过程中，同意已阅读并接受《期投大师期货交易协议》的按钮，即视为对本协议的签署。</p>
                    <p>2、在不损害开户人利益的前提下，期投大师保留修改或增补本协议内容的权利。本协议的修改时间和修改文本将公告于期投大师的网站及营业场所，或以其他期投大师认为可行的方式通知开户人。
                        开户人在修改通知公布之日起三十日内未向期投大师提出书面异议，则视同开户人已经对本协议的修改时间及修改文本表示认可，双方自此适用修订后的协议。但期投大师增加本协议第一条所述服务内容除外。</p>
                    <p>3、本协议签署后，若有关法律、法规、规章以及期货交易业务规则等发生变更，本协议将作相应的调整。</p>
                    <p>第八条 其他</p>
                    <p>1.本协议的订立、生效、履行、终止及争议解决适用中华人民共和国法律。</p>
                    <p>2.因本协议的订立、生效、履行及终止所引起的争议，期投大师希望与您友好协商；如协商无法解决问题或协商结果无法令您满意的，您与期投大师一致同意提交本协议签订地有管辖权的人民法院管辖。</p>
                </div>
                <div class="fica">
                    <button ng-click="close()">不同意</button>
                    <button ng-click="fica1(!notion1)">已阅读,并同意</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>