<meta charset="UTF-8">

<body ng-controller="replaceTelCity">
    <div class="replaceTel">
        <div class="replaceTel_main">
            <div class="replaceTel_top">
                <img src="images/center/account_modify.png" alt="">
                <span><b>188****2354</b>注册的用户已登录<br>可通过手机验证码直接更换手机号</span>
            </div>
            <ul>
                <li class="current">
                    <input type="tel" maxlength="11" placeholder="请输入新手机号码" style="outline: none" ng-model="NewTel">
                </li>
                <li>
                    <input type="text" placeholder="请输入验证码" style="outline: none" ng-model="testNum">
                    <button class="get_yzm" type="button" ng-click="vm.sendMessage()" ng-bind="paracont" ng-disabled="vm.disabledClick"></button>
                </li>
            </ul>
            <span class="success_btn" ng-click="ReplaceTel()">完成</span>
        </div>
        <div class="tishi"></div>
    </div>
</body>