<meta charset="UTF-8">

<body ng-controller="setPasswordCity">
    <div class="setPassword">
        <div class="setPassword_main">
            <div class="setPassword_head">
                <ul>
                    <li ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">
                        账户密码
                    </li>
                    <li ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">
                        支付密码
                    </li>
                </ul>
            </div>
            <!-- 账号密码修改 -->
            <div class="account_modify" ng-if="data.current == 1">
                <div class="account_modify_top">
                    <img src="images/center/account_modify.png" alt="">
                    <span>账户已登陆<br>可放心修改账号密码</span>
                </div>
                <ul>
                    <li class="current"><input type="text" placeholder="请输入新密码" ng-model="$parent.loginPsd"></li>
                    <li><input type="text" placeholder="请确认新密码" ng-model="$parent.loginPsd2"></li>
                </ul>
                <span class="success_btn" ng-click="loginOK()">完成</span>
            </div>
            <!-- 支付密码修改 -->
            <div class="payment_modify" ng-if="data.current == 2">
                <ul>
                    <li class="current"><input type="text" placeholder="请输入手机号码" ng-model="$parent.Tel"></li>
                    <li>
                        <input type="text" placeholder="请输入手机验证码" ng-model="$parent.testNum">
                        <button class="get_yzm" style="background-color: white;" type="button" ng-click="vm.sendMessage()" ng-bind="paracont" ng-disabled="vm.disabledClick"></button>
                    </li>
                    <li><input type="text" placeholder="请输入新密码" ng-model="$parent.newPsd"></li>
                    <li><input type="text" placeholder="请确认新密码" ng-model="$parent.newPsd2"></li>
                </ul>
                <span class="success_btn" ng-click="PayPsd()">完成</span>
            </div>
        </div>
        <div class="tishi"></div>
    </div>
    <div class="overdue" ng-show="SetPsaawordNow">
        <div class="overdue_main">
            <span><img src="images/center/light.png" alt="" class="main_img"></span>
            <h4 class="main_h">提示：修改成功</h4>
            <h5 class="main_line"></h5>
            <div class="main_a">
                <a ng-click="SetPsaawordOk()" class="a">确认</a>
            </div>
        </div>
    </div>
</body>
