<meta charset="UTF-8">

<body ng-controller="setPasswordCity">
    <div class="setPassword">
        <div class="setPassword_main">
            <div class="setPassword_head">
                <ul>
                    <li ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">
                        账户密码
                    </li>
                    <li ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">
                        支付密码
                    </li>
                </ul>
            </div>
            <!-- 账号密码修改 -->
            <div class="account_modify" ng-if="data.current == 1">
                <div class="account_modify_top">
                    <img src="images/center/account_modify.png" alt="">
                    <span>账户已登陆<br>可放心修改账号密码</span>
                </div>
                <ul>
                    <li class="current"><input type="text" placeholder="请输入新密码"></li>
                    <li><input type="text" placeholder="请确认新密码"></li>
                </ul>
                <span class="success_btn">完成</span>
            </div>
            <!-- 支付密码修改 -->
            <div class="payment_modify" ng-if="data.current == 2">
                <ul>
                    <li class="current"><input type="text" placeholder="请输入手机号码"></li>
                    <li><input type="text" placeholder="请输入手机验证码"><span class="get_yzm">获取验证码</span></li>
                    <li><input type="text" placeholder="请输入新密码"></li>
                    <li><input type="text" placeholder="请确认新密码"></li>
                </ul>
                <span class="success_btn">完成</span>
            </div>

        </div>
    </div>
</body>
